* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgba(0, 0, 0, 0.950);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
    flex-wrap: wrap;

    padding: 30px;

    color: white;
    font-size: 2.6em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

hr {
    flex-grow: 1;

    border: 1.5px solid #1EB720;
    margin: 0px 50px;
}

#teamVeto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    padding-top: 50px;
    margin-bottom: 120px;

    color: white;
    font-size: 1.8em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

/* === CARDS === */

#vetoContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    margin: 0px 20px;
}

.card {
    position: relative;

    transition: transform .45s;

    margin-bottom: 20px;

    border-radius: 14px;
    
    height: 504px;
}

.scaleAnimation:hover {
    transform: scale(1.05);

    cursor: pointer;

    border: 7px solid #E22859;
}

.card:hover .banText{
    opacity: 1;
}

.card:hover .banIcon{
    opacity: 1;
}

.banText {
    background-color: #E22859;

    height: 50px;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;

    transition: opacity .3s ease-in-out;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px 8px 0px 0px;

    color: white;
    font-size: 1.6em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.970);
}

.banIcon {
    background-color: #E22859;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 42px;
    
    height: 60px;
    width: 60px;

    position: absolute;
    left: 50%;
    top: 50%;

    opacity: 0;

    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

.mapImg {
    border-radius: 8px;

    height: 490px;
    width: 320px;

    object-fit: cover;
}

.mapName {
    position: absolute;
    bottom: 25px;
    left: 50%;

    height: 40px;

    text-align: center;
    
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
    
    width: 100%;
}

.mapName > span {
    color: white;
    font-size: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.970);
}

.selected {
    border: 7px solid #E22859;

    pointer-events: none;

    height: 492px;
}

.selected .banIcon, .selected .banText {
    opacity: 1;
}

.mapImgAfterSelected {
    height: 478px;

    opacity: 0.04;
}

.picked {
    border: 7px solid rgb(55, 233, 55);

    cursor: not-allowed;
    pointer-events: none;
}

.picked .banIcon {
    display: none;
}

.picked .banIcon, .picked .banText{
    display: none;
}

/* === RESPONSIVE === */

@media screen and (max-width: 737px) {
    .card {
        height: 374px;
    }

    .mapImg {
        height: 361px;
        width: 230px;
    }
}

@media screen and (max-width: 671px) {
    header {
        font-size: 2em;
    }

    #teamVeto {
        font-size: 1.2em;
    }

    .card {
        height: 324px;
    }

    .mapImg {
        height: 311px;
        width: 210px;
    }
}

@media screen and (max-width: 529px) {
    header {
        font-size: 1.8em;
    }

    #teamVeto {
        font-size: 1em;
    }

    .card {
        height: 254px;
    }

    .mapImg {
        height: 241px;
        width: 165px;
    }
}

@media screen and (max-width: 481px) {
    header {
        font-size: 1.5em;
    }

    #teamVeto {
        font-size: 0.8em;
    }

    .card {
        height: 254px;
    }

    .mapImg {
        height: 241px;
        width: 165px;
    }
}

@media screen and (max-width: 440px) {
    header {
        font-size: 1.35em;
    }

    #teamVeto {
        font-size: 0.75em;
    }

    .card {
        height: 234px;
    }

    .mapImg {
        height: 221px;
        width: 145px;
    }
}

@media screen and (max-width: 422px) {
    header {
        font-size: 1em;
    }

    #teamVeto {
        font-size: 0.6em;
    }

    .card {
        height: 224px;
    }

    .mapImg {
        height: 211px;
        width: 155px;
    }
}




.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
}

.modal-close {
  cursor: pointer;
  font-size: 1.5rem;
  color: #aaa;
}
